html,
body,
main {
  height: 100%;
  margin: 0
}

main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 2rem;
  background-color: #EEE;
  border: solid 2px red;
}

.header span {
  margin-right: 10px;
}

#incoming-messages {
  background-color: white;
}

#talentoday_site {
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
}
